.image {
  margin: 0 auto;
  width: 70px;
  margin-bottom: 10px;
}

.name {
  font-size: 25px;
}

.status {
  font-size: 20px;
}

.status.online {
  color: green;
}

.status.offline {
  color: red;
}
